.container {
   text-align: center;
   display: flex;
   flex-direction: column;
   justify-content:center;
}

.container > * {
   margin-bottom:1rem;
}

.container> h2{
   font-weight: 300;
}

.btn{
   padding: 1em 5em;
   border-radius:1em;
}